/* Buttons */

button {
	border: 1px solid shade(#ff0000, 0.95);
	border-top-color: #ff0000;
	border-bottom-color: shade(#ff0000, 0.9);
}

button:disabled {
	border: 1px solid shade(@button_border, 0.95);
	border-top-color: @button_border;
	border-bottom-color: shade(@button_border, 0.9);
}

/* Scale */

scale trough {
	background-color: #ff0000;
}

scale:disabled trough {
	background-color: shade(@theme_bg_color, 0.98);
}

