@define-color button_border #444444;

button:disabled {
    border-color: #b2b2b2;
}

scale trough {
    background-color: #444444;
}

scale trough:disabled {
    background-color: @theme_bg_color;
}
