/* Buttons */

button {
	border: 1px solid shade(#eeeeee, 0.95);
	border-top-color: #eeeeee;
	border-bottom-color: shade(#eeeeee, 0.9);
}

button:disabled {
	border: 1px solid shade(@button_border, 0.95);
	border-top-color: @button_border;
	border-bottom-color: shade(@button_border, 0.9);
}

/* Scale */

scale trough {
	background-color: #eeeeee;
}

scale:disabled trough {
	background-color: shade(@theme_bg_color, 0.98);
}

