/* Buttons */

@define-color button_border #660000;

button:disabled {
    border-color: #b2b2b2;
}

/* Scale */

scale trough {
    background-color: #660000;
}

scale trough:disabled {
    background-color: @theme_bg_color;
}

